.individualCards {
    padding: 7%;
    border: none;
    border-radius: 20px !important;
    box-shadow: 0 0 4px 2px rgba(0,0,153,0.2);
    margin-top: 3%;
}

.cardTitle {
    font-size: x-large !important;
    font-weight: bold !important;
    color: #000099 !important;
}

.cardText {
    font-size: x-large;
    font-weight: bold;
}